<main class="container">    
    <button routerLink="/entradas" class="btn btn-primary btn-sm mt-4">Regresar</button> 
                                    <div class="row">
                                      <div class="col-md-5 mt-4">
                                        <div class="card">
                                          <div class="card-body">
                                            <div class="card-title">Registrar nueva entrada</div>
                                            <!--Producto-->
                                            <div class="form-group">
                                              <div class="mb-3">
                                                <label class="form-label">Producto:</label>                                                                        
                                                <select [(ngModel)]="entrada.producto"  class="form-select" placeholder="Producto:">
                                                  <option *ngFor="let dp of productos" [value]="dp.id">{{dp.nombre}}</option>
                                                </select>                                 
                                              </div>
                                            </div>                                             
                                                <!--<label for="exampleDataList" class="form-label">Producto:</label>
                                                 <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Buscar..." [(ngModel)]="entrada.producto">
                                                  <datalist id="datalistOptions" >
                                                   <option *ngFor="let dp of productos " [value]="dp.id"> {{dp.nombre}}</option>                                                                                           
                                                 </datalist> -->  
                                            <!--Producto-->
                                            <!--Stock-->
                                            <div class="form-group">
                                              <label for="exampleDataList" class="form-label">Stock:</label>
                                             <input type="text" name="stock" placeholder="Stock:" class="form-control " [(ngModel)]="entrada.stock">                                            
                                            </div>
                                            <!--Stock-->                                            
                                            <div class="d-grid gap-2 col-6 mx-auto">
                                              <button (click)="edit ? updateEntrada() : saveNewEntrada()" class="btn btn-success">Enviar</button>
                                              <!--<button (click)="addOrEdit()" class="btn btn-success">Enviar</button>-->
                                              <!--<button *ngIf="selectedCliente.id !== 0" (click)="Eliminar()" class="btn btn-danger">Eliminar</button>-->
                                            </div>
                                          </div>
                                        </div>
                                      </div> 

      </div>
    </main>