<main class="container">    
  <button routerLink="/clientes" class="btn btn-primary btn-sm mt-4">Regresar</button> 
                                  <div class="row">
                                    <div class="col-md-4 mt-4">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-title">Registrar nuevo cliente</div>
                                          <!--Nombre-->
                                          <div class="form-group">
                                            <div class="mb-3">
                                              <label class="form-label">Nombre:</label>
                                              <input type="text" name="nombre" placeholder="Nombre:" class="form-control " [(ngModel)]="cliente.nombre">
                                            </div>
                                          </div>
                                          <!--Nombre-->
                                          <!--Telefono-->
                                          <div class="form-group">
                                            <label for="exampleDataList" class="form-label">Telefono:</label>
                                           <input type="text" name="telefono" placeholder="Telefono:" class="form-control " [(ngModel)]="cliente.telefono">                                            
                                          </div>
                                          <!--Telefono-->
                                          <!--Correo-->
                                          <div class="form-group">
                                            <label class="form-label">Email:</label>
                                            <input type="text" name="email" placeholder="Email:" class="form-control" [(ngModel)]="cliente.correo">                                            
                                          </div>
                                          <!--Correo-->
                                          <!--direccion-->
                                          <div class="form-group">
                                            <label class="form-label">Dirección:</label>
                                            <input type="text" name="direccion" placeholder="Dirección:" class="form-control " [(ngModel)]="cliente.direccion">                                            
                                          </div>
                                          <!--direccion-->
                                          <div class="d-grid gap-2 col-6 mx-auto">
                                            <button (click)="edit ? updateCliente() : saveNewCliente()" class="btn btn-success">Enviar</button>
                                            <!--<button (click)="addOrEdit()" class="btn btn-success">Enviar</button>-->
                                            <!--<button *ngIf="selectedCliente.id !== 0" (click)="Eliminar()" class="btn btn-danger">Eliminar</button>-->
                                          </div>
                                        </div>
                                      </div>
                                    </div> 
                                    
                                    <div class="col md-4 mt-4">
                                      <div class="card text-center">
                                        <div class="card-header">
                                          <strong><h5>Nombre:</h5></strong> <p>{{cliente.nombre == '' ? '----' : cliente.nombre}}</p> 
                                        </div>
                                        <div class="card-body">
                                          <table class="table table-striped table-bordered row-border hover">
                                            <thead>
                                              <tr>
                                                <th>Telefono</th>
                                                <th>Email</th>
                                                <th>Dirección</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>{{cliente.telefono == '' ? '----' : cliente.telefono}}</td>                                                                                 
                                                <td>{{cliente.correo == '' ? '----' : cliente.correo}}</td>
                                                <td>{{cliente.direccion == '' ? '----' : cliente.direccion}}</td>
                                              </tr>
                                            </tbody>
                                          </table>                                          
                                        </div>
                                        <div class="card-footer text-muted">
                                          <p>{{cliente.created_at | date: 'yyyy-MM-dd'}}</p>
                                        </div>
                                      </div>
                                    </div>
    </div>
  </main>