<!--Dashboard-->
<div class="container-fluid">
    <h2 class="mt-4">Dashboard</h2>
    <div class="row justify-content-md-center">
      <div class="col col-sm-3 col-xl-2">
        <h3 class="mt-4">Ventas</h3>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Ventas del dia</div>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">52</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 col-xl-2">
        <h3 class="mt-4">Productos</h3>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">Productos en existencia</div>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">1258</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 col-xl-2">
        <h3 class="mt-4">Clientes</h3>
        <div class="card text-light bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Numero de clientes</div>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">25</h5>
          </div>
        </div>
      </div>
      <div class="col col-sm-3 col-xl-6">
        <h3 class="mt-4">Grafico</h3>
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Grafico</div>
          <div class="card-body" style="text-align:center;">
            <h5 class="card-title">Light card title</h5>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <!--Row grafico-->
    <div class="row justify-content-md-center">
      <h2 class="mt-4">Grafico</h2>
      <div class="card text-light bg-dark mb-3">
        <div class="card-header">Pares perdidos o dañados</div>
        <div class="card-body" style="text-align:center;">
          Aqui va el grafico
        </div>
      </div>
    </div>
    <!--Row grafico-->
  </div>
  <!--Dashboard-->
  